
header {
    background-image: url("pak2.jpg"); width: 100%; height: 100%; position: absolute;  filter: blur(1px); filter: brightness(55%);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


ul {
    color: white;
    float: right;
    list-style-type: none;
}

ul li {
    color: white;
    display: inline-block;
}

ul li a {
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 5px 20px;

}

ul li a:hover {
    color: brown;
}